body {
    background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg);
}

/* LOGIN FORM */
.login-form {
    background-color: transparent;
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
}

.login-form label {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 1%;
}

.login-form input {
    box-shadow: 5px 5px 5px grey;
    width: 50%;
    height: 1.5rem;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 15px;
    border-color: transparent;
}

.login-form h1{
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-bottom: 1%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* SIGN UP FORM */
.signup-form {
    background-color: transparent;
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
}

.signup-form label {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 1%;
}

.signup-form input {
    box-shadow: 5px 5px 5px grey;
    width: 50%;
    height: 1.5rem;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 15px;
    border-color: transparent;
}

.signup-form h1 {
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}